USE [master]
GO
/****** Object:  Database [AcciSureDB1]    Script Date: 15-03-2026 9.24.08 AM ******/
CREATE DATABASE [AcciSureDB1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AcciSureDB1', FILENAME = N'C:\Users\ATTELLI SANJAY KUMAR\AcciSureDB1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AcciSureDB1_log', FILENAME = N'C:\Users\ATTELLI SANJAY KUMAR\AcciSureDB1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AcciSureDB1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AcciSureDB1]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 15-03-2026 9.24.08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationDocuments]    Script Date: 15-03-2026 9.24.08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationDocuments](
	[Id] [nvarchar](450) NOT NULL,
	[PolicyApplicationId] [nvarchar](450) NOT NULL,
	[DocumentType] [nvarchar](max) NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FileUrl] [nvarchar](max) NOT NULL,
	[CloudKey] [nvarchar](max) NULL,
	[FileSize] [bigint] NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ApplicationDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 15-03-2026 9.24.08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 15-03-2026 9.24.08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 15-03-2026 9.24.08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 15-03-2026 9.24.08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 15-03-2026 9.24.08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 15-03-2026 9.24.08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[AadhaarNumber] [nvarchar](12) NULL,
	[BankAccountNumber] [nvarchar](16) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[InitialPassword] [nvarchar](max) NULL,
	[IsKycVerified] [bit] NOT NULL,
	[ProfileImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 15-03-2026 9.24.08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 15-03-2026 9.24.08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[Id] [nvarchar](450) NOT NULL,
	[ChatId] [nvarchar](450) NOT NULL,
	[SenderId] [nvarchar](max) NOT NULL,
	[SenderRole] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK_ChatMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chats]    Script Date: 15-03-2026 9.24.08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chats](
	[Id] [nvarchar](450) NOT NULL,
	[PolicyId] [nvarchar](450) NOT NULL,
	[CustomerId] [nvarchar](max) NOT NULL,
	[AgentId] [nvarchar](max) NOT NULL,
	[CustomerEmail] [nvarchar](max) NULL,
	[AgentEmail] [nvarchar](max) NULL,
	[PolicyName] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
	[CoverageAmount] [decimal](18, 2) NOT NULL,
	[DateActivated] [datetime2](7) NOT NULL,
	[LastMessage] [nvarchar](max) NULL,
	[LastMessageTime] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Chats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimDocuments]    Script Date: 15-03-2026 9.24.08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimDocuments](
	[Id] [nvarchar](450) NOT NULL,
	[ClaimId] [nvarchar](450) NOT NULL,
	[FileId] [nvarchar](max) NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FileUrl] [nvarchar](max) NOT NULL,
	[FileSize] [bigint] NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ClaimDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamilyMembers]    Script Date: 15-03-2026 9.24.08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamilyMembers](
	[Id] [nvarchar](450) NOT NULL,
	[PolicyApplicationId] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Relation] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[ExistingHealthConditions] [nvarchar](max) NULL,
 CONSTRAINT [PK_FamilyMembers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsuranceClaims]    Script Date: 15-03-2026 9.24.08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuranceClaims](
	[Id] [nvarchar](450) NOT NULL,
	[PolicyApplicationId] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[RequestedAmount] [decimal](18, 2) NOT NULL,
	[ApprovedAmount] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IncidentDate] [datetime2](7) NOT NULL,
	[SubmissionDate] [datetime2](7) NOT NULL,
	[IncidentType] [nvarchar](max) NOT NULL,
	[IncidentLocation] [nvarchar](max) NOT NULL,
	[HospitalName] [nvarchar](max) NOT NULL,
	[HospitalizationRequired] [bit] NOT NULL,
	[AffectedMemberName] [nvarchar](max) NULL,
	[AffectedMemberRelation] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Remarks] [nvarchar](max) NULL,
	[AssignedClaimOfficerId] [nvarchar](450) NULL,
	[ApprovedByOfficerId] [nvarchar](max) NULL,
	[ProcessedAt] [datetime2](7) NULL,
	[AccidentCause] [nvarchar](max) NULL,
	[AdmissionDate] [datetime2](7) NULL,
	[BodyPartInjured] [nvarchar](max) NULL,
	[DischargeDate] [datetime2](7) NULL,
	[EstimatedMedicalCost] [decimal](18, 2) NOT NULL,
	[FirNumber] [nvarchar](max) NULL,
	[HospitalBill] [decimal](18, 2) NOT NULL,
	[IncidentTime] [time](7) NULL,
	[InjuryType] [nvarchar](max) NULL,
	[Medicines] [decimal](18, 2) NOT NULL,
	[OtherExpenses] [decimal](18, 2) NOT NULL,
	[PoliceCaseFiled] [bit] NOT NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
 CONSTRAINT [PK_InsuranceClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NomineeDetails]    Script Date: 15-03-2026 9.24.08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NomineeDetails](
	[Id] [nvarchar](450) NOT NULL,
	[PolicyApplicationId] [nvarchar](450) NOT NULL,
	[NomineeName] [nvarchar](max) NOT NULL,
	[Relationship] [nvarchar](max) NOT NULL,
	[NomineePhone] [nvarchar](max) NOT NULL,
	[NomineeEmail] [nvarchar](max) NOT NULL,
	[BankAccountNumber] [nvarchar](max) NOT NULL,
	[IFSC] [nvarchar](max) NOT NULL,
	[AadharCardUrl] [nvarchar](max) NOT NULL,
	[AadharNumber] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_NomineeDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 15-03-2026 9.24.08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[NotificationType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyApplications]    Script Date: 15-03-2026 9.24.08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyApplications](
	[Id] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[PolicyCategory] [nvarchar](max) NOT NULL,
	[TierId] [nvarchar](max) NOT NULL,
	[CalculatedPremium] [decimal](18, 2) NOT NULL,
	[SubmissionDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[ApplicationDataJson] [nvarchar](max) NOT NULL,
	[AssignedAgentId] [nvarchar](450) NULL,
	[ApprovedByAgentId] [nvarchar](max) NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[TotalCoverageAmount] [decimal](18, 2) NOT NULL,
	[RemainingCoverageAmount] [decimal](18, 2) NOT NULL,
	[TotalApprovedClaimsAmount] [decimal](18, 2) NOT NULL,
	[PaymentMode] [nvarchar](max) NULL,
	[NextPaymentDate] [datetime2](7) NULL,
	[StartDate] [datetime2](7) NULL,
	[ExpiryDate] [datetime2](7) NULL,
	[PaidAmount] [decimal](18, 2) NULL,
	[PaymentDate] [datetime2](7) NULL,
	[TransactionId] [nvarchar](max) NULL,
	[Age] [int] NOT NULL,
	[AlcoholHabit] [nvarchar](max) NOT NULL,
	[AnnualIncome] [decimal](18, 2) NOT NULL,
	[Profession] [nvarchar](max) NOT NULL,
	[SmokingHabit] [nvarchar](max) NOT NULL,
	[TravelKmPerMonth] [int] NOT NULL,
	[VehicleType] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[District] [nvarchar](max) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[Pincode] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[InvoiceUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_PolicyApplications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ApplicationDocuments_PolicyApplicationId]    Script Date: 15-03-2026 9.24.08 AM ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationDocuments_PolicyApplicationId] ON [dbo].[ApplicationDocuments]
(
	[PolicyApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 15-03-2026 9.24.08 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 15-03-2026 9.24.08 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 15-03-2026 9.24.08 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 15-03-2026 9.24.08 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 15-03-2026 9.24.08 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 15-03-2026 9.24.08 AM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 15-03-2026 9.24.08 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChatMessages_ChatId]    Script Date: 15-03-2026 9.24.08 AM ******/
CREATE NONCLUSTERED INDEX [IX_ChatMessages_ChatId] ON [dbo].[ChatMessages]
(
	[ChatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Chats_PolicyId]    Script Date: 15-03-2026 9.24.08 AM ******/
CREATE NONCLUSTERED INDEX [IX_Chats_PolicyId] ON [dbo].[Chats]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ClaimDocuments_ClaimId]    Script Date: 15-03-2026 9.24.08 AM ******/
CREATE NONCLUSTERED INDEX [IX_ClaimDocuments_ClaimId] ON [dbo].[ClaimDocuments]
(
	[ClaimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FamilyMembers_PolicyApplicationId]    Script Date: 15-03-2026 9.24.08 AM ******/
CREATE NONCLUSTERED INDEX [IX_FamilyMembers_PolicyApplicationId] ON [dbo].[FamilyMembers]
(
	[PolicyApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InsuranceClaims_AssignedClaimOfficerId]    Script Date: 15-03-2026 9.24.08 AM ******/
CREATE NONCLUSTERED INDEX [IX_InsuranceClaims_AssignedClaimOfficerId] ON [dbo].[InsuranceClaims]
(
	[AssignedClaimOfficerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InsuranceClaims_PolicyApplicationId]    Script Date: 15-03-2026 9.24.08 AM ******/
CREATE NONCLUSTERED INDEX [IX_InsuranceClaims_PolicyApplicationId] ON [dbo].[InsuranceClaims]
(
	[PolicyApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InsuranceClaims_UserId]    Script Date: 15-03-2026 9.24.08 AM ******/
CREATE NONCLUSTERED INDEX [IX_InsuranceClaims_UserId] ON [dbo].[InsuranceClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NomineeDetails_PolicyApplicationId]    Script Date: 15-03-2026 9.24.08 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_NomineeDetails_PolicyApplicationId] ON [dbo].[NomineeDetails]
(
	[PolicyApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 15-03-2026 9.24.08 AM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PolicyApplications_AssignedAgentId]    Script Date: 15-03-2026 9.24.08 AM ******/
CREATE NONCLUSTERED INDEX [IX_PolicyApplications_AssignedAgentId] ON [dbo].[PolicyApplications]
(
	[AssignedAgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PolicyApplications_UserId]    Script Date: 15-03-2026 9.24.08 AM ******/
CREATE NONCLUSTERED INDEX [IX_PolicyApplications_UserId] ON [dbo].[PolicyApplications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsKycVerified]
GO
ALTER TABLE [dbo].[InsuranceClaims] ADD  DEFAULT ((0.0)) FOR [EstimatedMedicalCost]
GO
ALTER TABLE [dbo].[InsuranceClaims] ADD  DEFAULT ((0.0)) FOR [HospitalBill]
GO
ALTER TABLE [dbo].[InsuranceClaims] ADD  DEFAULT ((0.0)) FOR [Medicines]
GO
ALTER TABLE [dbo].[InsuranceClaims] ADD  DEFAULT ((0.0)) FOR [OtherExpenses]
GO
ALTER TABLE [dbo].[InsuranceClaims] ADD  DEFAULT (CONVERT([bit],(0))) FOR [PoliceCaseFiled]
GO
ALTER TABLE [dbo].[NomineeDetails] ADD  DEFAULT (N'') FOR [AadharCardUrl]
GO
ALTER TABLE [dbo].[NomineeDetails] ADD  DEFAULT (N'') FOR [AadharNumber]
GO
ALTER TABLE [dbo].[PolicyApplications] ADD  DEFAULT ((0)) FOR [Age]
GO
ALTER TABLE [dbo].[PolicyApplications] ADD  DEFAULT (N'') FOR [AlcoholHabit]
GO
ALTER TABLE [dbo].[PolicyApplications] ADD  DEFAULT ((0.0)) FOR [AnnualIncome]
GO
ALTER TABLE [dbo].[PolicyApplications] ADD  DEFAULT (N'') FOR [Profession]
GO
ALTER TABLE [dbo].[PolicyApplications] ADD  DEFAULT (N'') FOR [SmokingHabit]
GO
ALTER TABLE [dbo].[PolicyApplications] ADD  DEFAULT ((0)) FOR [TravelKmPerMonth]
GO
ALTER TABLE [dbo].[PolicyApplications] ADD  DEFAULT (N'') FOR [VehicleType]
GO
ALTER TABLE [dbo].[ApplicationDocuments]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationDocuments_PolicyApplications_PolicyApplicationId] FOREIGN KEY([PolicyApplicationId])
REFERENCES [dbo].[PolicyApplications] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationDocuments] CHECK CONSTRAINT [FK_ApplicationDocuments_PolicyApplications_PolicyApplicationId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_Chats_ChatId] FOREIGN KEY([ChatId])
REFERENCES [dbo].[Chats] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_Chats_ChatId]
GO
ALTER TABLE [dbo].[Chats]  WITH CHECK ADD  CONSTRAINT [FK_Chats_PolicyApplications_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[PolicyApplications] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Chats] CHECK CONSTRAINT [FK_Chats_PolicyApplications_PolicyId]
GO
ALTER TABLE [dbo].[ClaimDocuments]  WITH CHECK ADD  CONSTRAINT [FK_ClaimDocuments_InsuranceClaims_ClaimId] FOREIGN KEY([ClaimId])
REFERENCES [dbo].[InsuranceClaims] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClaimDocuments] CHECK CONSTRAINT [FK_ClaimDocuments_InsuranceClaims_ClaimId]
GO
ALTER TABLE [dbo].[FamilyMembers]  WITH CHECK ADD  CONSTRAINT [FK_FamilyMembers_PolicyApplications_PolicyApplicationId] FOREIGN KEY([PolicyApplicationId])
REFERENCES [dbo].[PolicyApplications] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FamilyMembers] CHECK CONSTRAINT [FK_FamilyMembers_PolicyApplications_PolicyApplicationId]
GO
ALTER TABLE [dbo].[InsuranceClaims]  WITH CHECK ADD  CONSTRAINT [FK_InsuranceClaims_AspNetUsers_AssignedClaimOfficerId] FOREIGN KEY([AssignedClaimOfficerId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[InsuranceClaims] CHECK CONSTRAINT [FK_InsuranceClaims_AspNetUsers_AssignedClaimOfficerId]
GO
ALTER TABLE [dbo].[InsuranceClaims]  WITH CHECK ADD  CONSTRAINT [FK_InsuranceClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InsuranceClaims] CHECK CONSTRAINT [FK_InsuranceClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[InsuranceClaims]  WITH CHECK ADD  CONSTRAINT [FK_InsuranceClaims_PolicyApplications_PolicyApplicationId] FOREIGN KEY([PolicyApplicationId])
REFERENCES [dbo].[PolicyApplications] ([Id])
GO
ALTER TABLE [dbo].[InsuranceClaims] CHECK CONSTRAINT [FK_InsuranceClaims_PolicyApplications_PolicyApplicationId]
GO
ALTER TABLE [dbo].[NomineeDetails]  WITH CHECK ADD  CONSTRAINT [FK_NomineeDetails_PolicyApplications_PolicyApplicationId] FOREIGN KEY([PolicyApplicationId])
REFERENCES [dbo].[PolicyApplications] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NomineeDetails] CHECK CONSTRAINT [FK_NomineeDetails_PolicyApplications_PolicyApplicationId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[PolicyApplications]  WITH CHECK ADD  CONSTRAINT [FK_PolicyApplications_AspNetUsers_AssignedAgentId] FOREIGN KEY([AssignedAgentId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[PolicyApplications] CHECK CONSTRAINT [FK_PolicyApplications_AspNetUsers_AssignedAgentId]
GO
ALTER TABLE [dbo].[PolicyApplications]  WITH CHECK ADD  CONSTRAINT [FK_PolicyApplications_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PolicyApplications] CHECK CONSTRAINT [FK_PolicyApplications_AspNetUsers_UserId]
GO
USE [master]
GO
