# Ignore project folders
# insurance-frontend/
# AcciSure/
# CompleteAccidentInsurance/
# frontend-insurance/
# Ignore sensitive configuration
accisure-490603-a7fc0ba7649d.json
Vertex-AI/accisure-490603-a7fc0ba7649d.json
InsurancePlatform/API/appsettings.json
InsurancePlatform/API/appsettings.Development.json
# .NET secrets
**/appsettings.Development.json
**/appsettings.Local.json
.env

# OS files
.DS_Store
Thumbs.db

# Node (if frontend uses Node)
node_modules/
dist/
build/

# Env files
.env
.env.*
.txt

.vs/
bin/
obj/
*.user
*.suo
appsettings.json